<div class="header-area">
  <button mat-raised-button color="themed" (click)="goReachOut()">
    Reach<br />
    Out
  </button>
  <button mat-button color="secondary-themed" (click)="goHome()">
    <span class="emoji-technologist">🧑‍💻</span>Pranesh
    <span class="emoji-coffee">☕</span>
  </button>
  <mat-icon
    class="dark-mode"
    *ngIf="currentMode() === 'light'"
    (click)="toggleTheme()"
    >dark_mode</mat-icon
  >
  <mat-icon
    class="light-mode"
    *ngIf="currentMode() === 'dark'"
    (click)="toggleTheme()"
    >light_mode</mat-icon
  >
</div>
