.experience-area {
  .back-icon {
    margin-right: 0px;
    font-size: 1rem;
    font-weight: 500;
  }
  .experience-card {
    margin-top: 25px;
    border-radius: 16px;
    background-color: var(--bgColorArea);
    padding: 16px;
  }
}
